<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <app-search-bar (trigger)="getWeatherReport($event)"></app-search-bar>
    </section>
    <section *ngIf="response.name != undefined " class="position-relative">
        <div class="reportContainer mb-3" [ngStyle]="{'background':'url('+backgroundImage+') no-repeat center fixed'}">
            <div class="row text-center mt-5">
                <h3>{{response.name}} <sup>{{response.sys.country}}</sup></h3>
            </div>
            <div class="row text-center mt-5">
                <h3 class="col-4">{{response.sys.sunrise | timezone}}</h3>
                <h3 class="col-4">{{response.dt | timezone}}</h3>
                <h3 class="col-4">{{response.sys.sunset | timezone}}</h3>
            </div>
            <div class="row text-center mt-5">
                <h1>{{response.main.temp}} °C | {{response.weather[0].description}}</h1>
            </div>
            <div class="row text-center mt-5 mb-3">
                <h3 class="col-4">{{response.clouds.all}}</h3>
                <h3 class="col-4">{{response.main.humidity}}</h3>
                <h3 class="col-4">{{response.wind.speed}} / {{response.wind.deg}}</h3>
            </div>
        </div>

    </section>
</body>

</html>